<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close' | translate }}</span>
  </button>
  <h4 class="modal-title" translate="teams_reset"></h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <p translate="teams_reset_confirmation"></p>

      <callout type="info" headline="'attention'" ng-if="ctrl.showTeamArrangementsSentWarning">
        <span translate="teams_reset_hint_team_messages_sent"></span>
      </callout>

      <callout type="info" headline="'attention'" ng-if="ctrl.showDinnerRoutesSentWarning">
        <span translate="teams_reset_hint_dinnerroute_messages_sent"></span>
      </callout>

    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-default" ng-click="ctrl.cancel()">{{ 'cancel' | translate }}</button>
  <button type="submit" class="btn btn-danger" ng-click="ctrl.save()"><span translate="teams_reset"></span></button>
</div>
