<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close' | translate }}</span>
  </button>
  <h4 class="modal-title" translate="team_member_cancel" translate-values="{ teamMemberToCancel: '{{ ctrl.team | teamName }}'}"></h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <em translate="team_cancel_info_text"></em>
    </div>
  </div>

  <div class="row margin-top">
    <div class="col-xs-12">
      <loading-spinner loading-function="ctrl.findNotAssignedParticipantsPromise" loading-text="loading"></loading-spinner>
      <div ng-if="ctrl.loadingData === false">
        <callout ng-if="ctrl.notAssignedParticipants.length < ctrl.runningDinner.options.teamSize"
                 headline="'team_cancel_info_headline_too_few_participants'" type="info">
          <span translate="team_cancel_info_text_too_few_participants"
                translate-values="{ numNeededParticipants: '{{ ctrl.numNeededParticipants }}'}"></span>
        </callout>
        <callout ng-if="ctrl.notAssignedParticipants.length >= ctrl.runningDinner.options.teamSize"
                 headline="'team_cancel_info_headline_sufficient_participants'" icon="fa-check" type="success">
          <span translate="team_cancel_info_text_sufficient_participants"
                translate-values="{ teamSize: '{{ ctrl.runningDinner.options.teamSize }}', teamName: '{{ ctrl.team | teamName }}' }"></span>
        </callout>
      </div>
      <div ng-repeat="notAssignedParticipant in ctrl.notAssignedParticipants">
        <label>
          <input type="checkbox"
                 ng-model="notAssignedParticipant.selected"
                 ng-disabled="ctrl.notAssignedParticipants.length < ctrl.team.teamMembers.length"> {{ notAssignedParticipant | fullname }}
        </label>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-link" ng-click="ctrl.cancel()">{{ 'cancel' | translate }}</button>
  <button type="submit" class="btn btn-success" ng-click="ctrl.save()" promise-btn>{{ 'next' | translate }} ...</button>
</div>
