<div class="container" ng-cloak>
  <div class="row">
    <div class="col-xs-12">

      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="global-feature-headline" translate="create_your_own_event_hedline"></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3 class="feature-headline" translate="quickstart"></h3>
          <p class="feature-text">
            <span translate="quickstart_description"></span><br>
            <a class="btn btn-success margin-top-small" role="button" ng-href="{{ rootVm.getWizardLink() }}" target="_blank">
              <span translate="open_wizard"></span>
            </a>
          </p>
        </div>

        <div class="col-xs-12 col-md-6">
          <h3 class="feature-headline" translate="uncertain_headline"></h3>
          <p class="feature-text">
            <span translate="uncertain_description"></span><br>
            <a class="btn btn-success margin-top-small" role="button" ng-href="{{ rootVm.getDemoWizardLink() }}" target="_blank">
              <span translate="create_demo_dinner_link"></span>
            </a>
          </p>
        </div>
      </div>

      <div class="row margin-top-large">
        <div class="col-xs-12 text-center">
          <h2 class="global-feature-headline" translate="features"></h2>
        </div>
      </div>


      <div class="row margin-bottom">

        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="feature-headline">
            <span><i class="fa fa-eye feature-icon" aria-hidden="true"></i></span> <span translate="visibilities"></span>
          </h3>
          <p class="feature-text">
            <span translate="visibilities_text"></span>
          <ul>
            <li><strong translate="registrationtype_closed"></strong>: <span translate="registrationtype_closed_description"></span></li>
            <li><strong translate="registrationtype_open"></strong>: <span translate="registrationtype_open_description"></span></li>
            <li><strong translate="registrationtype_public"></strong>: <span translate="registrationtype_public_description"></span></li>
          </ul>
          </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="feature-headline">
            <span><i class="fa fa-users feature-icon" aria-hidden="true"></i></span> <span translate="team_arrangements"></span>
          </h3>
          <p class="feature-text">
          <ul>
            <li translate="team_arrangements_meal_feature"></li>
            <li translate="team_arrangements_distribution_feature"></li>
            <li translate="team_arrangements_swap_feature"></li>
          </ul>
          </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="feature-headline">
            <span><i class="fa fa-map-marker feature-icon" aria-hidden="true"></i></span> <span translate="dinner_route"></span>
          </h3>
          <p class="feature-text">
          <ul>
            <li translate="dinner_route_calculation_feature"></li>
            <li translate="dinner_route_view_feature"></li>
            <li translate="dinner_route_googlemaps_feature"></li>
          </ul>
          </p>
        </div>

      </div>


      <div class="row margin-bottom">

        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="feature-headline">
            <span><i class="fa fa-envelope feature-icon" aria-hidden="true"></i></span> <span translate="mail_sending_personalized"></span>
          </h3>
          <p class="feature-text">
            <span translate="mail_sending_personalized_description"></span>
          <ul>
            <li translate="mail_sending_personalized_participants"></li>
            <li translate="mail_sending_personalized_teams"></li>
            <li translate="mail_sending_personalized_dinnerroutes"></li>
          </ul>
          </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="feature-headline">
            <span><i class="fa fa-user feature-icon" aria-hidden="true"></i></span> <span translate="participant_management_headline"></span>
          </h3>
          <p class="feature-text">
            <ul>
              <li translate="participant_management_crud_feature"></li>
              <li translate="participant_management_overview_feature"></li>
              <li translate="participant_management_waitinglist_feature"></li>
            </ul>
          </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="feature-headline">
            <span><i class="fa fa-list feature-icon" aria-hidden="true"></i></span> <span translate="participant_features"></span>
          </h3>
          <p class="feature-text">
          <ul>
            <li translate="participant_feature_self_registrate"></li>
            <li translate="participant_feature_change_host"></li>
            <li translate="participant_feature_live_dinnerroute"></li>
          </ul>
          </p>
        </div>

      </div>

      <div class="row margin-bottom">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="feature-headline">
            <span><i class="fa fa-list feature-icon" aria-hidden="true"></i></span> <span translate="Dashboard"></span>
          </h3>
          <p class="feature-text">
            <ul>
              <li translate="misc_feature_dashboard"></li>
              <li translate="misc_feature_new_participants"></li>
            </ul>
          </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="feature-headline">
            <span><i class="fa fa-list feature-icon" aria-hidden="true"></i></span> <span translate="misc"></span>
          </h3>
          <p class="feature-text">
          <ul>
            <li translate="misc_feature_cancel_teams"></li>
            <li translate="misc_feature_team_partner_wish"></li>
            <li translate="misc_feature_languages"></li>
          </ul>
          </p>
        </div>
      </div>

      <div class="row bottom-spacer"></div>

    </div>
  </div>
</div>


<!-- Cooler Link!
<span>
              <a clatext-color-successreen" ng-href="{{ rootVm.getWizardLink() }}" target="_blank">
                <strong class="text-uppercase" style="letter-spacing: 1px;">Wizard öffnen</strong>
              </a>
              <i class="fa fa-sign-in feature-icon" aria-hidden="true"></i>
</span>
-->
