<div class="col-xs-12">
  <h3 translate="registration"></h3>
  <form form-validate prefix="vm.registrationData." name="ctrl.registrationForm" ng-model-options="{ allowInvalid: true }">

    <fieldset-headline text="base_data" bg-class="bg-white" row-class="margin-top"></fieldset-headline>
    <div class="row">
      <div class="form-group required col-md-6 col-xs-12">
        <label for="fullname" translate="fullname" class="control-label"></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input type="text" class="form-control" name="fullname" id="fullname" ng-model="vm.registrationData.fullname" focus-on="init">
        </div>
        <span class="help-block validation-error ng-hide"></span>
      </div>
      <div class="form-group required">
        <div class="col-md-6 col-xs-12">
          <label for="email" translate="email" class="control-label"></label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
            <input class="form-control" name="email" type="text" id="email" ng-model="vm.registrationData.email">
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <span class="help-block validation-error ng-hide"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label for="mobile" translate="mobile" class="control-label"></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
          <input type="text" class="form-control" name="mobile" id="mobile" ng-model="vm.registrationData.mobile">
          <span class="help-block validation-error ng-hide"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <label for="gender" translate="gender"></label>
        <div class="btn-group" id="gender" style="display:block;">
          <label class="btn btn-default" ng-model="vm.registrationData.gender" input-validate="off" uib-btn-radio="'MALE'">
            <i ng-class="vm.getGenderClass('MALE')"></i>
          </label>
          <label class="btn btn-default" ng-model="vm.registrationData.gender" input-validate="off" uib-btn-radio="'UNDEFINED'">
            <i ng-class="vm.getGenderClass('UNDEFINED')"></i>
          </label>
          <label class="btn btn-default" ng-model="vm.registrationData.gender" input-validate="off" uib-btn-radio="'FEMALE'">
            <i ng-class="vm.getGenderClass('FEMALE')"></i>
          </label>
          <span class="gender-selection-help">({{ vm.getGenderName(vm.registrationData.gender)}})</span>
        </div>
      </div>
      <div class="form-group col-md-4 col-xs-12">
        <label for="age" translate="age"></label>
        <input type="text" class="form-control" id="age" name="age" undefined-number="nonpositive" ng-model="vm.registrationData.age">
        <span class="help-block validation-error ng-hide"></span>
      </div>
    </div>

    <fieldset-headline text="address_data" bg-class="bg-white" row-class="margin-top"></fieldset-headline>
    <div class="row margin-bottom">
      <div class="form-group required">
        <div class="col-xs-12">
          <label for="streetWithNr" translate="street" class="control-label"></label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
            <input type="text" class="form-control" name="streetWithNr" id="streetWithNr"
                   ng-model="vm.registrationData.streetWithNr" placeholder="{{'street_placeholder' | translate}}">
          </div>
        </div>
        <div class="col-xs-12">
          <span class="help-block validation-error ng-hide"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="form-group required">
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label" for="zip">{{ 'zip' | translate }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                <input type="text" class="form-control" id="zip" name="zip" ng-model="vm.registrationData.zip" placeholder="{{ 'zip' | translate }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="help-block validation-error ng-hide"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <div class="form-group required">
          <div class="row">
            <div class="col-xs-12">
              <label for="city" class="control-label">{{ 'city' | translate }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                <input type="text" class="form-control" id="city" name="city" ng-model="vm.registrationData.city" placeholder="{{ 'city' | translate }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="help-block validation-error ng-hide"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="form-group required">
          <div class="row">
            <div class="col-xs-12">
              <label for="numberOfSeats" translate="number_seats" class="control-label"></label>
              <input type="text" undefined-number="nonpositive" class="form-control" name="numberOfSeats" id="numberOfSeats"
                     ng-model="vm.registrationData.numberOfSeats" placeholder="{{'number_seats_placeholder'| translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="help-block validation-error ng-hide"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label for="addressRemarks" translate="address_remarks" class="control-label"></label>
              <help-icon text="'address_remarks_help'"></help-icon>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
                <input type="text" class="form-control" id="addressRemarks" placeholder="{{ 'address_remarks_placeholder' | translate }}"
                       name="addressRemarks" ng-model="vm.registrationData.addressRemarks">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="help-block validation-error ng-hide"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <fieldset-headline text="mealspecifics" bg-class="bg-white" row-class="margin-top"></fieldset-headline>
    <div class="row">
      <div class="checkbox col-xs-12 col-md-3" style="margin-top:0 ! important;">
        <label>
          <input type="checkbox" ng-model="vm.registrationData.vegetarian"> {{'vegetarian' | translate}}
        </label>
      </div>
      <div class="checkbox col-xs-12 col-md-3" style="margin-top:0 ! important;">
        <label>
          <input type="checkbox" ng-model="vm.registrationData.lactose"> {{'lactose'|translate}}
        </label>
      </div>
      <div class="checkbox col-xs-12 col-md-3" style="margin-top:0 ! important;">
        <label>
          <input type="checkbox" ng-model="vm.registrationData.gluten"> {{'gluten'|translate}}
        </label>
      </div>
      <div class="checkbox col-xs-12 col-md-3" style="margin-top:0 ! important;">
        <label>
          <input type="checkbox" ng-model="vm.registrationData.vegan"> {{'vegan' | translate}}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" ng-model="vm.registrationData.mealnote_checked" ng-change="vm.mealNoteCheckChanged()">
          </span>
          <input ng-readonly="!vm.registrationData.mealnote_checked" type="text" class="form-control" id="mealnote"
                 ng-model="vm.registrationData.mealnote" placeholder="{{ 'mealnotes' | translate }}" focus-on="mealNoteEnabled">
        </div>
      </div>
    </div>


    <fieldset-headline text="misc" bg-class="bg-white" row-class="margin-top"></fieldset-headline>
    <div class="row margin-bottom" ng-if="!vm.dinnerEvent.teamPartnerWishDisabled">
      <div class="form-group">
        <div class="col-xs-12">
          <label for="teamPartnerWish" translate="teampartner_wish" class="control-label"></label>
          <help-icon text="'team_partner_wish_help'"></help-icon>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
            <input type="text" class="form-control" name="teamPartnerWish" id="teamPartnerWish"
                   ng-model="vm.registrationData.teamPartnerWish" placeholder="{{'teampartner_placeholder' | translate}}">
          </div>
        </div>
        <div class="col-xs-12">
          <span class="help-block validation-error ng-hide"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12">
          <label for="notes" translate='misc_notes' class="control-label"></label>
          <help-icon text="'misc_notes_help'"></help-icon>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
            <input type="text" class="form-control" id="notes" ng-model="vm.registrationData.notes" placeholder="{{'misc_notes_placeholder' | translate}}">
          </div>
        </div>
        <div class="col-xs-12">
          <span class="help-block validation-error ng-hide"></span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="form-group margin-top">
        <div class="checkbox col-xs-12">
          <label>
            <input type="checkbox" id="dataProcessingAcknowledged" name="dataProcessingAcknowledged"
                   ng-model="vm.registrationData.dataProcessingAcknowledged">
            <span translate="data_processing_acknowledge"></span><br/>
             <span translate="note"></span>: <span translate="data_processing_acknowledge_hint" translate-values="{ privacyLink: '{{ vm.privacyLink }}' }"></span>
          </label>
        </div>
        <div class="col-xs-12">
          <span class="help-block validation-error ng-hide"></span>
        </div>
      </div>
    </div>

    <div class="row margin-top margin-bottom">
      <div class="col-xs-12">
        <button ng-click="vm.validateRegistration()" class="btn btn-success btn-lg pull-right">{{ 'registration_validate' | translate }}</button>
        <a ui-sref="frontend.eventdetails({ publicDinnerId: vm.dinnerEvent.publicDinnerId })"
           class="back-link pull-right">{{ 'cancel' | translate }}</a>
      </div>
    </div>

  </form>
</div>
