<div class="container" ng-cloak>
  <div class="row">
    <div class="col-xs-12">

      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="global-feature-headline" translate="news"></h2>
        </div>
      </div>

      <div class="row margin-bottom" ng-repeat="item in ctrl.items">
        <div class="col-xs-12 col-md-8">
          <h3 class="feature-headline">
            <span><i class="fa fa-list feature-icon" aria-hidden="true"></i></span>
            <span translate="{{ item.title }}"></span>
            <small class="pull-right" style="padding-top: 8px;">{{ item.date | localDate }}</small>
          </h3>
          <p class="feature-text" translate="{{ item.content }}"></p>
        </div>
      </div>

      <div class="row bottom-spacer"></div>

    </div>
  </div>
</div>

