<div class="container">
<div class="row" ng-cloak>
<div class="col-xs-12">


<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <h2 class="global-feature-headline" translate="for_organizers_headline"></h2>
  </div>
</div>

<div class="row margin-bottom">

  <div class="col-xs-12 col-md-4">
    <h3 class="feature-headline">
      <span><i class="fa fa-pencil feature-icon" aria-hidden="true"></i></span>
      <span translate="create_event_headline"></span>
    </h3>
    <p class="feature-text">
      <span translate="create_event_description"></span><br>
      <a class="btn btn-success margin-top" role="button" ui-sref="frontend.create"><span translate="create_event_headline"></span>...</a>
    </p>
  </div>

  <div class="col-xs-12 col-md-4">
    <h3 class="feature-headline">
      <span><i class="fa fa-cog feature-icon" aria-hidden="true"></i></span>
      <span translate="manage_event_headline"></span>
    </h3>
    <p class="feature-text">
      <span translate="manage_event_description"></span><br>
      <a class="btn btn-default margin-top" role="button" ui-sref="frontend.create"><span translate="manage_event_link"></span></a>
    </p>
  </div>

  <div class="col-xs-12 col-md-4">
    <h3 class="feature-headline">
      <span><i class="fa fa-glass feature-icon" aria-hidden="true"></i></span>
      <span translate="manage_event_party_headline"></span>
    </h3>
    <p class="feature-text" translate="manage_event_party_description"></p>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center margin-top">
    <h2 class="global-feature-headline" translate="for_participants_headline"></h2>
  </div>
</div>

<div class="row margin-bottom">

  <div class="col-xs-12 col-md-4">
    <h3 class="feature-headline">
      <span><i class="fa fa-search feature-icon" aria-hidden="true"></i></span>
      <span translate="discover_public_events_headline"></span>
    </h3>
    <p class="feature-text">
      <span translate="discover_public_events_description"></span><br>
      <a class="btn btn-success margin-top" role="button" ui-sref="frontend.events"><span translate="discover_public_events_link"></span></a>
    </p>
  </div>

  <div class="col-xs-12 col-md-4">
    <h3 class="feature-headline">
      <span><i class="fa fa-share feature-icon" aria-hidden="true"></i></span>
      <span translate="public_events_no_event_found_headline"></span>
    </h3>
    <p class="feature-text" translate="public_events_no_event_found_description"></p>
  </div>

  <div class="col-xs-12 col-md-4">
    <h3 class="feature-headline">
      <span><i class="fa fa-database feature-icon" aria-hidden="true"></i></span>
      <span translate="privacy_question_headline"></span>
    </h3>
    <p class="feature-text">
      <span translate="privacy_question_description"></span><br>
      <a class="btn btn-default margin-top" role="button" ui-sref="frontend.impressum"><span translate="privacy_more_infos_link"></span></a>
    </p>
  </div>

</div>

<div class="row bottom-spacer">
  <div class="col-xs-12"></div>
</div>


</div>
</div>
</div>
