<div class="jumbotron">
  <div class="container" ng-cloak>

    <div id="introduction-carousel" class="carousel" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#introduction-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#introduction-carousel" data-slide-to="1"></li>
        <li data-target="#introduction-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner carousel-inner-teaser" role="listbox">
        <div class="item active">
          <h3 translate="teaser_what_is_running_dinner_headline"></h3>
          <p translate="teaser_running_dinner_general_description"></p>
          <p translate="teaser_running_dinner_general_application"></p>
          <p class="text-center margin-top margin-bottom hidden-xs">
            <a class="btn btn-lg btn-success margin-right" role="button" ui-sref="frontend.create"><span translate="teaser_organize_event_text"></span></a>
            <a class="btn btn-lg btn-default" role="button" ui-sref="frontend.events"><span translate="teaser_search_public_event_text"></span></a>
          </p>
          <div class="margin-top margin-bottom hidden-lg hidden-md hidden-sm">
            <div><a class="btn btn-lg btn-success" style="width: 100%;" role="button" ui-sref="frontend.create"><span translate="teaser_organize_event_text"></span></a></div>
            <div><a class="btn btn-lg btn-default margin-top" style="width: 100%;" role="button" ui-sref="frontend.events"><span translate="teaser_search_public_event_text"></span></a></div>
          </div>
        </div>
        <div class="item">
          <h3 translate="teaser_how_does_it_work"></h3>
          <p>
          <ul class="jumbotron-list">
            <li translate="teaser_workflow_team_generation"></li>
            <li translate="teaser_workflow_team_meals"></li>
            <li translate="teaser_workflow_team_host"></li>
            <li translate="teaser_workflow_team_guest"></li>
            <li translate="teaser_workflow_dinner_route"></li>
            <li translate="teaser_workflow_dinner_route_finish"></li>
          </ul>
          </p>
        </div>
        <div class="item">
          <h3 translate="example"></h3>
          <p>
            <p class="text-left" translate="teaser_example_appetizer"></p>
            <p class="text-right" translate="teaser_example_main_course"></p>
            <p class="text-left" translate="teaser_example_dessert"></p>
            <p translate="teaser_example_summary"></p>
          </p>
        </div>
      </div>

    </div>

  </div>
</div>
