<div class="row">
  <div class="col-xs-12">
    <h2 class="global-feature-headline" translate="mails_participant_sendmessage_headline"></h2>
  </div>
</div>

<div class="row">

  <form form-validate prefix="ctrl.participantMessage." name="ctrl.messageParticipantForm" ng-model-options="{ allowInvalid: true }"
        style="margin-top:-20px;">

    <div class="col-xs-12 col-sm-7 col-lg-8 padding-horizontal-large">
      <h3 class="feature-headline">
        <span><i class="fa fa-envelope feature-icon" aria-hidden="true"></i></span>
        {{ 'mails_message' | translate }}
      </h3>
      <div class="row feature-text">
        <div class="form-group col-xs-12">
          <label class="control-label" for="subject" translate="mails_subject"></label>
          <input type="text" class="form-control" id="subject" name="subject" ng-model="ctrl.participantMessage.subject"
                 placeholder="{{ 'mails_subject' | translate}}"  focus-on="init">
          <span class="help-block validation-error ng-hide"></span>
        </div>
      </div>
      <div class="row feature-text">
        <div class="form-group col-xs-12">
          <label class="control-label" for="message" translate="content"></label>
          <span class="help-block">
              {{ 'mails_template_help' | translate}}: {firstname}, {lastname}
              <help-icon text="'mails_template_help_description'"></help-icon>
            </span>
          <textarea class="form-control" rows="10" id="message" name="message" ng-model="ctrl.participantMessage.message"></textarea>
          <span class="help-block validation-error ng-hide"></span>
        </div>
      </div>
      <div class="row pull-right feature-text">
        <div class="col-xs-12">
          <button class='btn btn-primary' translate="preview" ng-click="ctrl.previewMails()"></button>
          <button type="submit" class="btn btn-success" ng-click="ctrl.sendMails()" promise-btn>
            {{ 'messages_send_general' | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-lg-4 padding-horizontal-large">

      <div class="row margin-bottom-large">
        <div class="col-xs-12">

          <h3 class="feature-headline">
            <span><i class="fa fa-users feature-icon" aria-hidden="true"></i></span>
            <span translate="participants_selection"></span>
          </h3>
          <div class="form-group">
            <label for="participantSelection" class="control-label" translate="participant_selection_text"></label>
            <ui-select id="participantSelection"
                       name="participantSelection"
                       ng-model="ctrl.participantMessage.participantSelection"
                       search-enabled="false"
                       class="form-control-ui-select"
                       style="max-width:400px;">
              <ui-select-match placeholder="{{ 'select_prompt' | translate }}">
                <span ng-bind-html="$select.selected.label" class="teaser"></span>
              </ui-select-match>
              <ui-select-choices repeat="participantSelectionChoice.value as participantSelectionChoice in ctrl.participantSelectionChoices">
                <span ng-bind-html="participantSelectionChoice.label"></span>
              </ui-select-choices>
            </ui-select>
            <span class="help-block validation-error ng-hide"></span>
            <div class="margin-top">
              <span ng-if="ctrl.isAllParticipantsSelected(ctrl.participantMessage.participantSelection)"
                    translate="participant_selection_all_text" translate-values="{ numberOfSelectedParticipants: '{{ ctrl.numberOfSelectedParticipants }}' }">
              </span>
              <span ng-if="ctrl.isParticipantsAssignedToTeamsSelected(ctrl.participantMessage.participantSelection)"
                    translate="participant_selection_assigned_to_teams_text" translate-values="{ numberOfSelectedParticipants: '{{ ctrl.numberOfSelectedParticipants }}' }">
              </span>
              <span ng-if="ctrl.isParticipantsNotAssignedToTeamsSelected(ctrl.participantMessage.participantSelection)"
                    translate="participant_selection_not_assigned_to_teams_text" translate-values="{ numberOfSelectedParticipants: '{{ ctrl.numberOfSelectedParticipants }}' }">
              </span>
              <div ng-if="ctrl.isCustomParticipantsSelected(ctrl.participantMessage.participantSelection)">
                <div>
                  <strong translate="participant_selection_single_selection_text"></strong>
                  <a href ng-click="ctrl.openCustomSelectionDialog()"><strong>({{ 'change' | translate }} <i class="fa fa-edit"></i>)</strong></a>
                </div>
                <div class="margin-top">
                  <div ng-repeat="customSelectedParticipant in ctrl.customSelectedParticipants">{{ customSelectedParticipant | fullname }}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <message-jobs-overview admin-id="ctrl.adminId" message-type="ctrl.messageType"></message-jobs-overview>
        </div>
      </div>

    </div> <!-- end col-xs-4 (right col) -->

  </form>

</div>

<div class="row margin-top margin-bottom">
  <div class="col-xs-12 padding-horizontal-large feature-text">
    <div class="pull-left">
      <a href ng-click="gotoState('admin.participants')">&lt;&lt; {{ 'back' | translate }}</a>
    </div>
  </div>
</div>
