<div class="row margin-bottom" ng-class="ctrl.hideListForSmallDevicesClass">
  <div class="col-xs-12" ng-if="ctrl.loadingMessageJob === false">
    <h3 class="global-feature-headline">{{ ctrl.messageJobHeadline }}</h3>
    <h4 style="margin-top:-20px;">
      {{ ctrl.messageJob.createdAt | localDate }} {{ 'at_time' | translate }} {{ ctrl.messageJob.createdAt | date:'HH:mm:ss' }} {{ 'uhr' | translate }}
      <span class="padding-left-xsmall"><help-icon text="'synchronize_messagejobs_help'"></help-icon></span>
    </h4>
  </div>
</div>

<loading-spinner loading-function="ctrl.findMessageTasksPromise" loading-text="loading"></loading-spinner>

<div ng-if="ctrl.loadingMessageTasks === false && ctrl.messageTasks.length === 0" class="row">
  <div class="col-xs-12"><i translate="protocols_empty"></i></div>
</div>

<div class="row" ng-if="ctrl.messageTasks.length > 0">
  <div class="col-xs-12 col-lg-9 admin-content-main-panel" ng-class="ctrl.hideListForSmallDevicesClass" ui-content-height>
    <table class="admin-table">
      <tbody>
        <tr>
          <th class="col-xs-1 col-md-2">
            <span class="hidden-xs">Status</span>
            <span>&nbsp;</span>
          </th>
          <th class="col-xs-5 col-md-3" translate="recipient"></th>
          <th class="col-xs-3 col-md-2" translate="sending_started_at_text"></th>
          <th class="col-xs-3 col-md-2" translate="sending_finished_at_text"></th>
          <th class="hidden-xs hidden-sm col-md-3" translate="content"></th>
        </tr>
        <tr ng-repeat="messageTask in ctrl.messageTasks" class="clickable" ng-click="ctrl.openMessageTaskDetails(messageTask)"
            ng-class="messageTask.id == ctrl.selectedMessageTask.id ? 'active' : ''">
          <td>
            <sending-status message-object="messageTask"></sending-status>
          </td>
          <td>{{ messageTask.recipientEmail }}</td>
          <td>
            <span class="hidden-xs hidden-sm">{{ messageTask.sendingStartTime | localDateTimeSeconds }}</span>
            <span class="hidden-md hidden-lg">{{ messageTask.sendingStartTime | date:'dd.MM HH:mm:ss' }}</span>
          </td>
          <td>
            <span class="hidden-xs hidden-sm">{{ messageTask.sendingEndTime | localDateTimeSeconds }}</span>
            <span class="hidden-md hidden-lg">{{ messageTask.sendingEndTime | date:'dd.MM HH:mm:ss' }}</span>
          </td>
          <td class="hidden-xs hidden-sm"><span ng-bind-html="messageTask.messageTeaser"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-lg-3 admin-content-details-panel" ng-class="ctrl.hideDetailsForSmallDevicesClass" ui-content-height>
    <div ng-if="ctrl.selectedMessageTask" ng-cloak>

      <div class="hidden-md hidden-lg padding-top-medium">
        <a ui-sref="admin.messagejobs.details({messageJobId: ctrl.messageJobId})" ui-sref-opts="{reload: true, notify: true}" class="actionlink">
          <i class="fa fa-chevron-left fa-lg"></i> <strong translate="back"></strong>
        </a>
      </div>

      <h3>{{ ctrl.selectedMessageTask.recipientEmail }}</h3>

      <fieldset-headline text="{{ 'transfer' | translate }}"></fieldset-headline>
      <div>
        <label>Status</label>
        <strong class="pull-right">
          <span ng-bind="ctrl.selectedMessageTask.statusResultMessage"></span>
          <span ng-if="ctrl.selectedMessageTask.failureDate"> (am {{ ctrl.selectedMessageTask.failureDate | localDateTimeSeconds }})</span>
        </strong>
      </div>
      <div ng-if="ctrl.selectedMessageTask.failureTypeMessage">
        <label translate="failure"></label>
        <span class="pull-right">
          <strong ng-bind="ctrl.selectedMessageTask.failureTypeMessage"></strong>
        </span>
      </div>
      <div ng-if="ctrl.selectedMessageTask.failureReportMessage">
        <label>Fehlerbericht</label><br>
        <p>
          <i ng-bind="ctrl.selectedMessageTask.failureReportMessage"></i>
        </p>
      </div>
      <div>
        <label translate="sending_started_at_text"></label>
        <strong class="pull-right" ng-bind="ctrl.selectedMessageTask.sendingStartTime | localDateTimeSeconds"></strong>
      </div>
      <div>
        <label translate="sending_finished_at_text"></label>
        <strong class="pull-right" ng-bind="ctrl.selectedMessageTask.sendingEndTime | localDateTimeSeconds"></strong>
      </div>

      <fieldset-headline text="{{ 'content' | translate }}"></fieldset-headline>
      <div>
        <div>
          <strong>{{ ctrl.selectedMessageTask.message.subject }}</strong>
          <br>
        </div>
        <div class="clearfix">
          <p ng-bind-html="ctrl.mapNewLineToHtmlLineBreaks(ctrl.selectedMessageTask.message.content)"></p>
        </div>
      </div>
      <div class="margin-top">
        <button ng-click="ctrl.reSendMessage(ctrl.selectedMessageTask)" class="btn btn-primary pull-right margin-bottom">
          {{ 'send_again' | translate }}...
        </button>
      </div>

    </div>
  </div>
</div>
