<div class="row margin-bottom" ng-class="ctrl.hideListForSmallDevicesClass">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <h2 class="global-feature-headline">{{ 'headline_teams' | translate}}</h2>
        <span class="help-block hidden-xs" style="margin-top:-15px;" ng-if="ctrl.hasTeams()" translate="teams_drag_drop_hint">
        </span>
      </div>
      <div class="col-xs-12 col-sm-5" ng-show="ctrl.hasTeams()">
        <a class="pull-right actionlink" href ng-show="ctrl.hasTeams()" ng-click="ctrl.reCreateTeams()">{{ 'teams_reset' | translate }}</a>
        <div class="btn-group pull-right margin-right">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{ 'messages_send_general' | translate }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href ng-click="gotoState('admin.mails-teams.arrangements')">{{ 'messages_send_teams' | translate }}</a></li>
            <li><a href ng-click="gotoState('admin.mails-teams.dinnerroutes')">{{ 'messages_send_dinnerroutes' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" ng-show="ctrl.hasTeams()">
  <div class="col-xs-12 col-md-7 col-lg-7 admin-content-main-panel" ng-class="ctrl.hideListForSmallDevicesClass" ui-content-height>

    <table class="admin-table first-row-top-border-less last-row-bottom-border">
      <tbody>
      <tr ng-repeat="team in ctrl.teams" ng-click="ctrl.openTeamDetails(team)" class="clickable"
          ng-class="team.id == ctrl.activeTeamMeetingPlan.team.id ? 'active' : ''">
        <td>{{ team.teamNumber }}</td>
        <td>
          <div ng-repeat="teamMember in team.teamMembers" data-drop="true" ng-show="!ctrl.isTeamCancelled(team)"
               jqyoui-droppable="{onDrop:'onTeamMemberDropped', index: {{$index}}, onOver:'onOverTeamMember', onOut:'onLeavingTeamMember'}"
               data-jqyoui-options="{accept:'.draggableTeamMember:not([parent-team={{team.id}}])'}"
               ng-model="team.teamMembers">
                <span class="draggableTeamMember" parent-team="{{ team.id }}" data-drag="true"
                      jqyoui-draggable="{animate:false, index: {{$index}}, placeholder:true, onStart:'onStartDrag', onStop:'onStopDrag'}"
                      data-jqyoui-options="{revert: 'invalid'}" ng-model="team.teamMembers"
                      ng-class="teamMember.dropOver ? 'droppableTeamMemberHover' : ''">
                    {{ teamMember | fullname }}
                </span>
          </div>
          <div ng-if="!ctrl.isTeamCancelled(team)" ng-repeat="missingTeamCounter in ctrl.getCancelledTeamMembersCountArray(team)" class="team-cancelled-text">
            <span translate="cancelled"></span>
          </div>
          <div class="double-line-height team-cancelled-text" ng-show="ctrl.isTeamCancelled(team)">
            <strong translate="cancelled"></strong>
          </div>
        </td>
        <td>
          <div ng-repeat="teamMember in team.teamMembers">
            <i class="fa fa-spoon fa-lg"></i> <span ng-class="ctrl.getNumSeatsClass(teamMember)">{{ teamMember.numSeats | numSeats  }}</span>
          </div>
        </td>
        <td ng-if="ctrl.hasGenderInformation(ctrl.teams)">
          <div ng-repeat="teamMember in team.teamMembers">
            <span tooltip-placement="right" uib-tooltip="{{ ctrl.getGenderTooltip(teamMember) }}">
              <i class="fa fa-lg" ng-class="ui.getGenderClass(teamMember)"></i> </span>
          </div>
        </td>
        <td><span class="double-line-height">{{ team.meal.label }}</span></td>
        <td class="hidden-xs">
          <span class="double-line-height" ng-show="!ctrl.isTeamCancelled(team)">
            <i class="fa fa-home fa-lg"></i> <a href class="actionlink" ng-click="ctrl.openChangeTeamHostDialog(team)">
            {{ team.hostTeamMember | fullname }}</a>
          </span>
        </td>
      </tr>
      </tbody>
    </table>

  </div>


  <div class="col-xs-12 col-md-5 col-lg-5 admin-content-details-panel" ng-class="ctrl.hideDetailsForSmallDevicesClass" ui-content-height>
    <div ng-cloak ng-if="ctrl.activeTeamMeetingPlan != null">

      <div class="hidden-md hidden-lg padding-top-medium">
        <a ui-sref="admin.teams" ui-sref-opts="{reload: true, notify: true}" class="actionlink">
          <i class="fa fa-chevron-left fa-lg"></i> <strong translate="back"></strong>
        </a>
      </div>

      <div class="row margin-bottom">
        <div class="col-xs-12">
          <h3 translate="team" translate-values="{ teamNumber: '{{ ctrl.activeTeamMeetingPlan.team.teamNumber }}'}"></h3>
          <div>
            <span>{{ ctrl.activeTeamMeetingPlan.team.meal.label }} {{ 'at_time' | translate }} {{ ctrl.activeTeamMeetingPlan.team.meal.time | date:'HH:mm' }} {{ 'uhr' | translate }}</span>
          </div>
          <div ng-if="ctrl.isTeamReplaced(ctrl.activeTeamMeetingPlan.team)" style="margin-top:5px;">
            <span><cite translate="team_replaced_text"></cite></span>
          </div>
        </div>
      </div>

      <div ng-hide="ctrl.isTeamCancelled(ctrl.activeTeamMeetingPlan.team)">
        <fieldset-headline text="team_members"></fieldset-headline>
        <div class="row margin-bottom">
          <div class="col-xs-12">
            <table class="table table-responsive table-condensed borderless">
              <tr ng-repeat="teamMember in ctrl.activeTeamMeetingPlan.team.teamMembers">
                <td>{{ teamMember | fullname }}</td>
                <td>{{ ctrl.getNumSeatsText(teamMember) }}</td>
                <td>
                  <span ng-if="ctrl.hasGenderInformation(ctrl.activeTeamMeetingPlan.team)">
                    <span class="hidden-md hidden-lg">{{ ctrl.getGenderNameShort(teamMember) }}</span>
                    <span class="hidden-xs hidden-sm">{{ ctrl.getGenderName(teamMember) }}</span>
                  </span>
                </td>
                <td>
                  <a class="actionlink" href
                       ng-click="ctrl.handleTeamMemberCancellation(ctrl.activeTeamMeetingPlan, teamMember)"><span translate="participant_cancel"></span>
                  </a>
                </td>
              </tr>
              <tr ng-repeat="missingTeamCounter in ctrl.getCancelledTeamMembersCountArray(ctrl.activeTeamMeetingPlan.team)">
                <td class="team-cancelled-text"><span translate="cancelled"></span></td>
                <td colspan="3"></td>
              </tr>
              <tr>
                <td colspan="4">
                  <span translate="teams_host" translate-values="{ host: '{{ ctrl.activeTeamMeetingPlan.team.hostTeamMember | fullname }}'}"></span>
                  <span>&nbsp;(<a class="actionlink" href ng-click="ctrl.openChangeTeamHostDialog(ctrl.activeTeamMeetingPlan.team)">{{ 'change' | translate }}</a>)</span>
                </td>
              </tr>
              <tr ng-if="!ctrl.hasEnoughSeats(ctrl.activeTeamMeetingPlan.team)">
                <td colspan="4">
                  <span class="text-danger"><i class="fa fa-exclamation-circle fa-lg"></i> <em>{{ 'teams_no_valid_host' | translate }}</em></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row margin-bottom" ng-show="ctrl.isTeamCancelled(ctrl.activeTeamMeetingPlan.team)">
        <div class="col-xs-12">
          <h4 class="team-cancelled-text" translate="cancelled"></h4>
        </div>
      </div>

      <fieldset-headline text="team_schedule"></fieldset-headline>
      <team-schedule team-meeting-plan="ctrl.activeTeamMeetingPlan"></team-schedule>
      <div class="row">
        <div class="col-xs-12 text-center" ng-hide="ctrl.isTeamCancelled(ctrl.activeTeamMeetingPlan.team)" style="margin-top:5px; margin-bottom:10px;">
          <a ui-sref="admin.dinnerroute({teamId: ctrl.activeTeamMeetingPlan.team.id, adminId: ctrl.adminId})"
             class="actionlink" translate="teams_show_dinnerroute"
              target="_blank">
          </a>
        </div>
      </div>

      <div ng-hide="ctrl.isTeamCancelled(ctrl.activeTeamMeetingPlan.team)">
        <fieldset-headline text="actions"></fieldset-headline>
        <div class="row margin-bottom">
          <div class="col-xs-12 text-center">
            <a class="btn btn-primary" ng-href="{{ ctrl.activeTeamMeetingPlan.messageUrl }}" translate="team_message"></a>
          </div>
          <div class="col-xs-12 text-center margin-top">
            <button class="btn btn-danger" translate="team_cancel" ng-click="ctrl.handleTeamCancellation(ctrl.activeTeamMeetingPlan)"></button>
          </div>
        </div>
      </div>

      <div ng-show="ctrl.isTeamCancelled(ctrl.activeTeamMeetingPlan.team)">
        <fieldset-headline text="actions"></fieldset-headline>
        <div class="col-xs-12 text-center margin-bottom">
          <a class="btn btn-primary" ng-href="{{ ctrl.activeTeamMeetingPlan.cancellationMessageUrlAffectedTeams }}">
            <span translate="team_notify_cancellation"></span>
          </a>
        </div>
      </div>

    </div>

    <div ng-cloak ng-if="ctrl.activeTeamMeetingPlan == null">
      <p class="valign text-center" translate="teams_no_selection"></p>
    </div>
  </div>

</div>

<div class="row admin-content-border-top" ng-cloak ng-show="!ctrl.hasTeams() && ctrl.noTeams">
  <div class="col-xs-12">

    <p class="margin-top" ng-show="ctrl.noTeams.registrationType !== 'CLOSED'"
       translate="participants_count_public_event" translate-values="{ numParticipants: '{{ ctrl.noTeams.numParticipants }}' }">
    </p>
    <p class="margin-top" ng-show="ctrl.noTeams.registrationType === 'CLOSED'"
       translate="participants_count_closed_event" translate-values="{ numParticipants: '{{ ctrl.noTeams.numParticipants }}' }">
    </p>

    <p ng-show="ctrl.noTeams.numExpectedTeams > 0"
       translate="participants_count_sufficient" translate-values="{ numExpectedTeams: '{{ ctrl.noTeams.numExpectedTeams }}', numNotAssignableParticipants: '{{ ctrl.noTeams.numNotAssignableParticipants }}' }">
    </p>
    <p ng-show="ctrl.noTeams.numExpectedTeams === 0" translate="participants_count_too_few"></p>

    <callout headline="'attention'" icon="fa-info" type="info" ng-if="ctrl.noTeams.registrationStillRunning === true && ctrl.noTeams.numExpectedTeams === 0">
      <span translate="teams_generate_deadline_open_info"
            translate-values="{ endOfRegistrationDate: '{{ ctrl.noTeams.endOfRegistrationDate | localDate }}'}"></span>
    </callout>
    <callout headline="'attention'" icon="fa-info" type="danger" ng-if="ctrl.noTeams.registrationStillRunning === true && ctrl.noTeams.numExpectedTeams > 0">
      <span translate="teams_generate_deadline_open_warning"
            translate-values="{ endOfRegistrationDate: '{{ ctrl.noTeams.endOfRegistrationDate | localDate }}'}"></span>
    </callout>

    <div class="margin-top">
      <button class="btn btn-success margin-top" ng-click="ctrl.createTeamArrangements()" ng-disabled="ctrl.noTeams.numExpectedTeams === 0">
        <span translate="teams_generate"></span>
      </button>
    </div>

  </div>
</div>




