<h3 translate="almost_there"></h3>

<form name="ctrl.finishForm" form-validate prefix="ctrl.dinner." class="wizard-form" ng-model-options="{ allowInvalid: true }">
  <div class="row form-group">
    <div class="col-md-6 col-xs-12">
      <label class="control-label" for="email" translate="administration_email_label"></label>
      <input type="text" class="form-control" name="email" id="email" ng-model="ctrl.dinner.email" placeholder="Email">
      <span class="help-block validation-error ng-hide"></span>
      <span class="help-block" ng-bind-html="'email_administration_link_help' | translate"></span>
    </div>
  </div>

  <div ng-if="ctrl.dinner.runningDinnerType !== 'DEMO'">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h4 translate="adv_headline"></h4>
        <p translate="adv_text_question"></p>
        <p translate="adv_text_answer"></p>
        <p translate="adv_text_help"></p>
        <p translate="adv_text_address_help"></p>
      </div>
    </div>

    <div class="row form-group margin-top">
      <div class="col-md-6 col-xs-12">
        <label class="control-label" for="fullname" translate="fullname"></label>
        <input type="text" class="form-control" name="fullname" id="fullname" ng-model="ctrl.dinner.contract.fullname">
        <span class="help-block validation-error ng-hide"></span>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6 col-xs-12">
        <label class="control-label" for="streetWithNr" translate="street"></label>
        <input type="text" class="form-control" name="streetWithNr" id="streetWithNr" ng-model="ctrl.dinner.contract.streetWithNr">
        <span class="help-block validation-error ng-hide"></span>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 col-md-2">
        <label class="control-label" for="zip" translate="zip"></label>
        <input type="text" class="form-control" id="zip" name="zip" ng-model="ctrl.dinner.contract.zip"
               positive-numbers-only>
        <span class="help-block validation-error ng-hide"></span>
      </div>
      <div class="col-xs-8 col-md-4">
        <label class="control-label" for="city" translate="city"></label>
        <input type="text" class="form-control" id="city" name="city" ng-model="ctrl.dinner.contract.city">
        <span class="help-block validation-error ng-hide"></span>
      </div>
    </div>

    <div class="row form-group">
      <div class="margin-top">
        <div class="checkbox col-xs-12">
          <label>
            <input type="checkbox" id="newsletterEnabled" name="newsletterEnabled" ng-model="ctrl.dinner.contract.newsletterEnabled">
            <span translate="newsletter_label" translate-values="{ globalAdminEmail: '{{ ctrl.globalAdminEmail }}'}"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

</form>

<div class="row" ng-if="!ctrl.isDinnerCreated()">
  <div class="col-xs-12 col-md-6 wizard-button-row">
    <button ng-click="ctrl.submitEmail(true)" class="btn btn-success btn-lg pull-right" promise-btn><span translate="finish"></span></button>
    <a href ng-click="ctrl.submitEmail(false)" class="back-link pull-right">Zurück</a>
  </div>
</div>
