<h3 translate="participants_preview"></h3>

<div class="wizard-form row">
  <div class="col-xs-12 col-md-6">
    <p ng-if="ctrl.dinner.runningDinnerType !== 'DEMO'" translate="participants_preview_text"
       translate-values="{ numParticipants: '{{ ctrl.getMinimumParticipantsNeeded(ctrl.dinner) }}'}">
    </p>
    <p ng-if="ctrl.dinner.runningDinnerType === 'DEMO'" translate="participants_preview_demo_text"></p>
  </div>
</div>

<div class="row" ng-if="!ctrl.isDinnerCreated()">
  <div class="col-xs-12 col-md-6 wizard-button-row">
    <button ng-click="ctrl.submitParticipantPreview(true)" class="btn btn-success btn-lg pull-right">{{ 'next' | translate }}</button>
    <a href ng-click="ctrl.submitParticipantPreview(false)" class="back-link pull-right">{{ 'back' | translate }}</a>
  </div>
</div>
