<div class="row margin-left-medium margin-right-medium">
  <div class="col-xs-12">
    <h3 class="global-feature-headline" translate="runningdinner_acknowledge_title"></h3>
    <callout headline="'runningdinner_acknowledge_congratulation_title'" icon="fa-check" ng-if="ctrl.acknowledgeSucceeded">
      <span translate="runningdinner_acknowledge_congratulation_text"></span><br>
      <applink-container>
        <a ui-sref="admin.dashboard({adminId: ctrl.adminId})" ui-sref-opts="{ reload:true, notify:true}"><span translate="goto_dashboard"></span></a>
      </applink-container>
    </callout>
    <callout headline="'runningdinner_acknowledge_error_title'" icon="fa-exclamation-triangle" type="danger" ng-if="!ctrl.acknowledgeSucceeded && ctrl.acknowledgeFailed">
      <span translate="runningdinner_acknowledge_error_text" translate-values="{ adminEmail: '{{ ctrl.acknowledgeErrorEmail }}'}"></span>
    </callout>
  </div>
  <div class="col-xs-12" ng-if="ctrl.loading">
    <loading-spinner loading="ctrl.loading"></loading-spinner>
  </div>
</div>
