/.idea
/.settings
/target
/.springBeans
/npm-debug.log
/*.iml
/src/main/client/vendor
/src/main/client/css/*.css
/node_modules
/.project
/.classpath
/src/main/resources/application-prod.properties
/src/main/resources/application-sendgrid.properties
/src/main/resources/application-smtp.properties
/src/main/resources/application-mailjet.properties
/bower_removed.json
/dinners.txt
/package_removed.json
/application.pid
/application.port
/*.log
/**/server-log*
/mocked_mails
/MockedMails
/schema-export.sql
/**/mongo-volume/*

/server-log.json
/infrastructure/local/verdaccio/storage/*
/infrastructure/local/.env
/infrastructure/local/volume/
/src/main/resources/application-paypal_sandbox.properties
