/.idea
/.settings
/target
/.springBeans
/npm-debug.log
/*.iml
/startderby.bat
/src/main/client/vendor
/src/main/client/css/*.css
/src/main/resources/static
/src/main/resources/static/*.html
/src/main/resources/static/*.css
/src/main/resources/static/fonts/*.*
/node_modules
/.project
/.classpath
/src/main/resources/application-prod.properties
/src/main/resources/application-sendgrid.properties
/src/main/resources/application-smtp.properties
/bower_removed.json
/dinners.txt
/package_removed.json
/application.pid
/application.port
/*.log
/**/*.xls
/mocked_mails
/schema-export.sql
/**/mongo-volume/*

/server-log.json
