<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close' | translate }}</span>
  </button>
  <h4 class="modal-title" id="mailPreviewModal" translate="preview"></h4>
</div>

<div class="modal-body">
  <p>
    <label for="selectedTeamOrParticipant">Auswahl</label>
    <ui-select id="selectedTeamOrParticipant"
               ng-model="ctrl.selectedTeamOrParticipant"
               search-enabled="true"
               on-select="ctrl.onSelectionChanged($item)"
               class="form-control-ui-select"
               style="max-width:400px;">
      <ui-select-match placeholder="Bitte auswählen...">
        <span ng-bind-html="$select.selected.previewLabel | highlight: $select.search" class="teaser"></span>
      </ui-select-match>
      <ui-select-choices repeat="teamOrParticipant in ctrl.teamsOrParticipants | filter: { previewLabel: $select.search }">
        <span ng-bind-html="teamOrParticipant.previewLabel | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </p>
  <div>
    <span ng-repeat="previewMessage in ctrl.previewData.previewMessageList">
          <hr ng-if="!$first"/>
          <h3 ng-bind="ctrl.previewData.subject"></h3>
          <div class="well">
            <span class="word-wrap-break"><i ng-bind-html="previewMessage.message"></i></span>
          </div>
    </span>
  </div>
  <button class="btn btn-primary pull-right " ng-click="ctrl.sendToMe()" promise-btn>
    {{ 'message_send_to_me' | translate }}
  </button>
  <div class="clearfix"></div>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-default" ng-click="ctrl.cancel()">{{ 'close' | translate }}</button>
</div>
