<wizard-notification ng-if="ctrl.dinner.runningDinnerType === 'DEMO'"></wizard-notification>

<div class="page-header hidden-xs">
  <h1>Run
    <strong>Your</strong> Dinner <small>Wizard</small>
  </h1>
</div>


<div class="row wizard-navigation">
  <div class="col-xs-1"
       ng-class="{ 'display': ctrl.wizardNavigationStates.length < 6 || ctrl.isDinnerCreated(), 'hidden': ctrl.wizardNavigationStates.length >= 6 && !ctrl.isDinnerCreated() }">&nbsp;</div>
  <div ng-if="!ctrl.isDinnerCreated()" ng-repeat="wizardNavigationState in ctrl.wizardNavigationStates"
       class="col-xs-2 nav-item">
    <i ng-class="wizardNavigationState.iconClass"></i>&nbsp; <span translate="{{ wizardNavigationState.label }}" class="hidden-xs hidden-sm"></span>
  </div>
   <div class="col-xs-1"
        ng-class="{ 'display': ctrl.wizardNavigationStates.length < 6 || ctrl.isDinnerCreated(), 'hidden': ctrl.wizardNavigationStates.length >= 6 && !ctrl.isDinnerCreated() }">&nbsp;</div>
</div>
<div class="row" ng-if="!ctrl.isDinnerCreated()">
  <div class="col-xs-1 wizard-navigation-active-border"
       ng-class="{ 'display': ctrl.wizardNavigationStates.length < 6 || ctrl.isDinnerCreated(), 'hidden': ctrl.wizardNavigationStates.length >= 6 && !ctrl.isDinnerCreated() }">&nbsp;</div>
  <div ng-repeat="wizardNavigationState in ctrl.wizardNavigationStates" class="col-xs-2"
       ng-class="{ 'wizard-navigation-active-border': ctrl.isStepReached(wizardNavigationState.number) }">
    &nbsp;
  </div>
</div>

<div class="row" ui-content-height>
  <div class="col-xs-12">
    <span class="pull-right">
      <feedback></feedback>
    </span>
  </div>
  <div class="col-xs-12 padding-bottom-medium" ui-view></div>
</div>
