<div class="row margin-bottom">
  <div class="col-xs-12">

    <div class="row" ng-class="ctrl.hideListForSmallDevicesClass">
      <div class="col-xs-12 col-sm-7">
        <h2 ng-if="ctrl.runningDinner" class="global-feature-headline">{{ 'headline_participantlist' | translate}}</h2>
      </div>
      <div class="col-xs-12 col-sm-5 hidden-xs">
        <a class="btn btn-primary pull-right" ng-href="{{ ctrl.exportUrl }}" target="_blank" ng-show="ctrl.participants && ctrl.participants.length > 0">
          Exportieren...
        </a>
        <button class="btn btn-success pull-right" ng-click="gotoState('admin.mails-participants')"
                ng-show="ctrl.participants && ctrl.participants.length > 0"
                style="margin-right: 15px;">
          {{ 'messages_send_participants' | translate }}
        </button>
      </div>
    </div>

    <div class="row" ng-class="ctrl.hideListForSmallDevicesClass">
      <div class="col-xs-12 col-lg-3">
        <div class="input-group" style="width:100%;">
          <input class="form-control" ng-model="ctrl.searchText" type="text" placeholder="{{ 'participant_search_placeholder' | translate }}">
          <span class="input-group-btn padding-left-medium hidden-lg">
            <a class="btn btn-success pull-right" href ng-click="ctrl.gotoNewParticipantState()">
              <i class="fa fa-plus fa-fw"></i> <span translate="add" class="hidden-xs"></span>
            </a>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3">
        <div style="line-height: 32px;">
          <span translate="participants_number" translate-values="{ numberParticipants: '{{ ctrl.participants.length }}' }"></span>
          <span ng-if="ctrl.getNumRemainingNotAssignableParticipants() > 0"
                translate="participants_number_waiting_list"
                translate-values="{ numRemainingNotAssignableParticipants: '{{ ctrl.getNumRemainingNotAssignableParticipants() }}' }">
          </span>
        </div>
      </div>
      <div class="hidden-xs hidden-sm hidden-md col-lg-1">
        <a class="btn btn-success pull-right" href ng-click="ctrl.gotoNewParticipantState()">
          <i class="fa fa-plus fa-fw"></i> <span translate="add"></span>
        </a>
      </div>
    </div>

    <div class="row hidden-sm hidden-md hidden-lg" ng-class="ctrl.hideListForSmallDevicesClass"
         ng-show="ctrl.participants && ctrl.participants.length > 0">
      <div class="col-xs-12">
        <a class="actionlink pull-right" href ng-click="gotoState('admin.mails-participants')">
          {{ 'messages_send_participants' | translate }}</a>
        <a class="btn btn-primary pull-right" ng-href="{{ ctrl.exportUrl }}" target="_blank">
          Exportieren...
        </a>
      </div>
    </div>

  </div>
</div>


<div class="row admin-content-border-top" id="ALL_PARTICIPANTS_ANCHOR">
  <div class="col-xs-12 col-lg-7 col-md-7" ng-class="ctrl.hideListForSmallDevicesClass" ui-content-height>

    <div class="row" ng-if="ctrl.hasNotEnoughParticipants()">
      <div class="col-xs-12">
        <callout type="info" headline="'participants_not_enough'">
          <span>{{ ctrl.getNoAssignableParticipantsMessage() | translate }}</span>
        </callout>
      </div>
    </div>
    <div class="row margin-top" ng-if="ctrl.hasNoParticipants()">
      <div class="col-xs-12">
        <callout type="info" headline="'participants_no_existing'">
          <span translate="participants_no_existing_text"></span>
        </callout>
      </div>
    </div>
    <div class="row" ng-if="ctrl.canAssignAllParticipants()">
      <div class="col-xs-12">
        <callout icon="fa-check" headline="'participants_all_assignable_headline'">
          <span translate="participants_all_assignable_text"></span>
        </callout>
      </div>
    </div>

    <div class="row list-group-item clickable" ng-repeat="participant in ctrl.participantsOrganizedInTeams | filter: ctrl.searchText track by participant.id"
         ui-sref="admin.participants.details({ participantId: participant.id })"
         ng-class="{ 'first': $first, 'active': ctrl.isParticipantSelected(participant) }" >
      <participant-row participant="participant"></participant-row>
    </div>

    <div class="row list-group-item clickable" ng-repeat="participant in ctrl.participantsAssignable | filter: ctrl.searchText track by participant.id"
         ui-sref="admin.participants.details({ participantId: participant.id })"
         ng-class="{ 'first': $first, 'active': ctrl.isParticipantSelected(participant) }" >
      <participant-row participant="participant"></participant-row>
    </div>

    <div class="row" ng-if="ctrl.getNumRemainingNotAssignableParticipants() > 0 && !ctrl.searchText.length > 0">
      <div class="col-xs-12" id="REMAINING_PARTICIPANTS_ANCHOR">
        <callout type="info" headline="'participants_remaining_not_assignable_headline'">
          <span translate="participants_remaining_not_assignable_text"></span>
        </callout>
      </div>
    </div>
    <div class="row list-group-item clickable" ng-repeat="participant in ctrl.participantsNotAssignable | filter: ctrl.searchText track by participant.id"
         ui-sref="admin.participants.details({ participantId: participant.id })"
         ng-class="{ 'active': ctrl.isParticipantSelected(participant) }" >
      <participant-row participant="participant"></participant-row>
    </div>

  </div>

  <div class="col-xs-12 col-lg-5 col-md-5 admin-content-details-panel" ng-class="ctrl.hideFormForSmallDevicesClass"
       style="border-top:none;" ui-content-height>

    <div ng-cloak ng-if="ctrl.activeParticipantDirty">

      <div class="hidden-md hidden-lg padding-top-medium">
        <a ui-sref="admin.participants" ui-sref-opts="{reload: true, notify: true}" class="actionlink">
          <i class="fa fa-chevron-left fa-lg"></i> <strong translate="back"></strong>
        </a>
      </div>

      <div class="team-headline">
          <h3>{{ ctrl.getParticipantHeadline(ctrl.activeParticipantDirty) }}
              <small ng-show="ctrl.isNewParticipantState()" class="pull-right small-xs hidden-xs hidden-sm">
                <a class="actionlink" href ng-click="ctrl.fillWithExampleData()"><span translate="fill_with_example_data"></span></a>
              </small>
          </h3>
          <div class="hidden-md hidden-lg">
            <small ng-show="ctrl.isNewParticipantState()" class="pull-right padding-bottom-medium">
              <a class="actionlink" href ng-click="ctrl.fillWithExampleData()"><span translate="fill_with_example_data"></span></a>
            </small>
          </div>
      </div>

      <form form-validate prefix="ctrl.activeParticipantDirty." name="ctrl.participantForm" confirm-on-exit ng-model-options="{ allowInvalid: true }">
        <fieldset-headline text="base_data" row-class="margin-top"></fieldset-headline>
        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
              <label class="control-label" for="firstnamePart">{{ 'firstname' | translate }}</label>
              <input type="text" class="form-control" name="firstnamePart" id="firstnamePart" ng-model="ctrl.activeParticipantDirty.firstnamePart">
              <span class="help-block validation-error ng-hide"></span>
          </div>
          <div class="form-group col-xs-12 col-md-6">
              <label class="control-label" for="lastname">{{ 'lastname' | translate }}</label>
              <input type="text" class="form-control" name="lastname" id="lastname" ng-model="ctrl.activeParticipantDirty.lastname">
              <span class="help-block validation-error ng-hide"></span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-6">
              <label class="control-label" for="email">{{ 'email' | translate }}</label>
              <input type="text" class="form-control" name="email" id="email" ng-model="ctrl.activeParticipantDirty.email">
              <span class="help-block validation-error ng-hide"></span>
          </div>
          <div class="form-group col-xs-12 col-md-6">
              <label class="control-label" for="mobileNumber">{{ 'mobile' | translate }}</label>
              <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" ng-model="ctrl.activeParticipantDirty.mobileNumber">
              <span class="help-block validation-error ng-hide"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 form-group">
            <label for="gender" translate="gender"></label>
            <div class="btn-group" id="gender" style="display:block;">
              <label class="btn btn-default" input-validate="off" ng-model="ctrl.activeParticipantDirty.gender" uib-btn-radio="'MALE'">
                <i ng-class="ctrl.getGenderClass('MALE')"></i>
              </label>
              <label class="btn btn-default" input-validate="off" ng-model="ctrl.activeParticipantDirty.gender" uib-btn-radio="'UNDEFINED'">
                <i ng-class="ctrl.getGenderClass('UNDEFINED')"></i>
              </label>
              <label class="btn btn-default" input-validate="off" ng-model="ctrl.activeParticipantDirty.gender" uib-btn-radio="'FEMALE'">
                <i ng-class="ctrl.getGenderClass('FEMALE')"></i>
              </label>
              <span class="gender-selection-help">({{ ctrl.getGenderName(ctrl.activeParticipantDirty.gender)}})</span>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="control-label" for="age" translate="age"></label>
            <input type="text" class="form-control" id="age" name="age" ng-model="ctrl.activeParticipantDirty.age"
                   undefined-number="nonpositive">
            <span class="help-block validation-error ng-hide"></span>
          </div>
        </div>


        <fieldset-headline text="address_data" row-class="margin-top"></fieldset-headline>
        <div class="row">
          <div class="form-group col-xs-8">
              <label class="control-label" for="street" translate="street"></label>
              <input type="text" class="form-control" id="street" name="street" ng-model="ctrl.activeParticipantDirty.street">
              <span class="help-block validation-error ng-hide"></span>
          </div>
          <div class="form-group col-xs-4">
              <label class="control-label" for="streetNr" translate="street_nr"></label>
              <input type="text" class="form-control" id="streetNr" name="streetNr" ng-model="ctrl.activeParticipantDirty.streetNr">
              <span class="help-block validation-error ng-hide"></span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-4">
              <label class="control-label" for="zip" translate="zip"></label>
              <input type="text" class="form-control" id="zip" name="zip" ng-model="ctrl.activeParticipantDirty.zip"
                     positive-numbers-only>
              <span class="help-block validation-error ng-hide"></span>
          </div>
          <div class="form-group col-xs-8">
              <label class="control-label" for="cityName" translate="city"></label>
              <input type="text" class="form-control" id="cityName" name="cityName" ng-model="ctrl.activeParticipantDirty.cityName">
              <span class="help-block validation-error ng-hide"></span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-4">
              <label class="control-label" for="numSeats" translate="number_seats"></label>
              <input type="text" class="form-control" id="numSeats" name="numSeats" ng-model="ctrl.activeParticipantDirty.numSeats"
                     undefined-number="nonpositive">
              <span class="help-block validation-error ng-hide"></span>
          </div>
          <div class="form-group col-md-8 col-xs-12">
            <label class="control-label" for="addressRemarks" translate="address_remarks"></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
              <input type="text" class="form-control" id="addressRemarks" name="addressRemarks"
                     placeholder="{{ 'address_remarks_placeholder' | translate }}"
                     ng-model="ctrl.activeParticipantDirty.addressRemarks">
            </div>
            <span class="help-block validation-error ng-hide"></span>
          </div>
        </div>

        <fieldset-headline text="mealspecifics" row-class="margin-top"></fieldset-headline>
        <div class="row">
          <div class="checkbox col-xs-12 col-md-3" style="margin-top:0 ! important;">
            <label>
              <input type="checkbox" name="vegetarian" ng-model="ctrl.activeParticipantDirty.vegetarian"> {{'vegetarian' | translate}}
            </label>
          </div>
          <div class="checkbox col-xs-12 col-md-3" style="margin-top:0 ! important;">
            <label>
              <input type="checkbox" name="lactose" ng-model="ctrl.activeParticipantDirty.lactose"> {{'lactose'|translate}}
            </label>
          </div>
          <div class="checkbox col-xs-12 col-md-3" style="margin-top:0 ! important;">
            <label>
              <input type="checkbox" name="gluten" ng-model="ctrl.activeParticipantDirty.gluten"> {{'gluten'|translate}}
            </label>
          </div>
          <div class="checkbox col-xs-12 col-md-3" style="margin-top:0 ! important;">
            <label>
              <input type="checkbox" name="vegan" ng-model="ctrl.activeParticipantDirty.vegan"> {{'vegan' | translate}}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" name="mealnote_checked" ng-model="ctrl.activeParticipantDirty.mealnote_checked"
                       ng-change="ctrl.onMealNoteCheckChanged()">
              </span>
              <input ng-readonly="!ctrl.activeParticipantDirty.mealnote_checked" type="text" class="form-control"
                     id="mealnote" name="mealSpecificsNote"
                     ng-model="ctrl.activeParticipantDirty.mealSpecificsNote" placeholder="{{ 'mealnotes' | translate }}" focus-on="mealNoteEnabled">
            </div>
          </div>
        </div>

        <fieldset-headline text="misc" row-class="margin-top"></fieldset-headline>
        <div class="row" ng-if="!ctrl.runningDinner.options.teamPartnerWishDisabled">
          <div class="form-group col-md-6 col-xs-12">
            <label class="control-label" for="teamPartnerWish" translate="teampartner_wish"></label>
            <help-icon text="'team_partner_wish_help'"></help-icon>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
              <input type="text" class="form-control" name="teamPartnerWish" id="teamPartnerWish" ng-model="ctrl.activeParticipantDirty.teamPartnerWish"
                     placeholder="{{'teampartner_placeholder' | translate}}">
            </div>
            <span class="help-block validation-error ng-hide"></span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="notes" class="control-label" translate='misc_notes'></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
              <input type="text" class="form-control" id="notes" name="notes" ng-model="ctrl.activeParticipantDirty.notes">
            </div>
          </div>
        </div>

        <div class="row margin-top margin-bottom">
          <div class="col-xs-12">
            <button class="btn btn-lg btn-success pull-right" ng-click="ctrl.saveParticipant(ctrl.activeParticipantDirty)" promise-btn>
              {{ 'save' | translate }}
            </button>
            <button ng-click="ctrl.deleteParticipant(ctrl.activeParticipant)" class="btn btn-link btn-lg pull-right" ng-hide="ctrl.isNewParticipantState()">
              {{ 'delete' | translate }}
            </button>
          </div>
        </div>

      </form>
    </div>

    <div ng-cloak ng-if="ctrl.activeParticipantDirty == null">
      <p class="text-center valign" translate="participant_empty_selection"></p>
    </div>

  </div>
</div>
