<div class="col-xs-1 col-sm-1">{{ $ctrl.participant.participantNumber }}</div>
<div class="col-xs-4 col-sm-3">{{ $ctrl.participant | fullname }}</div>
<div class="col-xs-1">
  <span tooltip-placement="right" uib-tooltip="{{ $ctrl.participant.genderTooltip }}">
    <i class="fa fa-lg" ng-class="$ctrl.participant.genderClass"></i>
  </span>
</div>
<div class="col-xs-4 col-sm-3 teaser">{{ $ctrl.participant.email }}</div>
<div class="hidden-xs col-sm-3 teaser">
  <span>{{ $ctrl.participant | streetWithNr }}</span>
  <div>{{ $ctrl.participant | zipWithCity }}</div>
</div>
<div class="col-xs-1">
  <i class="fa fa-spoon fa-lg hidden-xs"></i> <span ng-class="$ctrl.participant.numSeatsClass">{{ $ctrl.participant.numSeats | numSeats }}</span>
</div>
