<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close' | translate }}</span>
  </button>
  <h4 class="modal-title">
    <span translate="participant_deletion_confirmation_headline" translate-values="{ fullname: '{{ ctrl.participant | fullname }}' }"></span>
  </h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <span translate="participant_deletion_confirmation_text" translate-values="{ fullname: '{{ ctrl.participant | fullname }}' }"></span><br/>
      <span ng-if="ctrl.participant.teamId">
        <strong translate="note"></strong>: <span translate="participant_deletion_confirmation_team_hint"></span>
      </span>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-link" ng-click="ctrl.cancel()">{{ 'cancel' | translate }}</button>
  <button type="submit" class="btn btn-danger" ng-if="!ctrl.participant.teamId" ng-click="ctrl.deleteParticipant()" promise-btn>{{ 'delete' | translate }}</button>
  <button type="submit" class="btn btn-danger" ng-if="ctrl.participant.teamId" ng-click="ctrl.cancelTeamMember()"><span translate="participant_cancel"></span></button>
</div>
