<div>
  <h3 class="feature-headline">
    <span><i class="fa fa-tasks feature-icon" aria-hidden="true"></i></span>
    {{ 'admin_activities_headline' | translate }}
  </h3>
  <div ng-show="!$ctrl.loading && $ctrl.adminActivities.length > 0">
    <div class="hidden-xs hidden-sm">
      <ul class="timeline">
        <li ng-repeat="adminActivity in $ctrl.adminActivities" ng-class-even="'timeline-inverted'" ng-class-odd="''">
          <div class="timeline-badge " ng-class="adminActivity.colorClass">
            <div>{{ adminActivity.activityDate | date:'dd' }}</div>
            <div>{{ adminActivity.activityDate | date:'MMM' }}</div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" ng-if="adminActivity.iconClass"><i class="fa " ng-class="adminActivity.iconClass"></i>
                {{ adminActivity.activityHeadline }}</h4>
              <h4 class="timeline-title" ng-if="!adminActivity.iconClass">{{ adminActivity.activityHeadline }}</h4>
              <p><span class="text-muted"><i class="fa fa-clock-o"></i> {{ adminActivity.activityDate | date:'HH:mm'}} Uhr</span></p>
            </div>
            <div class="timeline-body">
              <p>
                <span ng-bind-html="adminActivity.activityMessage"></span>
                <span ng-if="adminActivity.helpIconMessage" class="padding-left-xsmall">
                <help-icon text="adminActivity.helpIconMessage"></help-icon>
              </span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="hidden-md hidden-lg">
      <div class="panel panel-default" ng-repeat="adminActivity in $ctrl.adminActivities">
        <div class="panel-body">
          <h4 class="timeline-title" ng-if="adminActivity.iconClass"><i class="fa " ng-class="adminActivity.iconClass"></i>
            {{ adminActivity.activityHeadline }}</h4>
          <h4 class="timeline-title" ng-if="!adminActivity.iconClass">{{ adminActivity.activityHeadline }}</h4>
          <p><span class="text-muted"><i class="fa fa-clock-o"></i> {{ adminActivity.activityDate | date:'HH:mm'}} Uhr</span></p>
          <div>
            <p>
              <span ng-bind-html="adminActivity.activityMessage"></span>
              <span ng-if="adminActivity.helpIconMessage" class="padding-left-xsmall">
                <help-icon text="adminActivity.helpIconMessage"></help-icon>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="!$ctrl.loading && $ctrl.adminActivities.length == 0">
    <p translate="activities_none"></p>
  </div>
  <loading-spinner loading="$ctrl.loading"></loading-spinner>
</div>
