<div>
  <h3 class="feature-headline">
    <span><i class="fa fa-bell feature-icon" aria-hidden="true"></i></span>
    <span translate="latest_registrations"></span>
  </h3>
  <div>
    <div ng-show="!$ctrl.loading && $ctrl.participantActivities.activities.length > 0">

      <div class="row list-group-item" ng-repeat="participantActivity in $ctrl.participantActivities.activities"
           ng-class="{'clickable': !participantActivity.showNotActiveInfo }"
           ng-click="$ctrl.openParticipantFromActivity(participantActivity)">
        <div class="col-xs-12">
          <i class="fa fa-user fa-fw"></i> {{ participantActivity.originator }}
          <span class="pull-right text-muted small">
            <em>
              {{ participantActivity.activityDate | localDate }}
              <span class="hidden-xs"> <span translate="at_time"></span> {{ participantActivity.activityDate | date:'HH.mm' }} Uhr</span>
            </em>
          </span>
        </div>
        <div class="col-xs-12" ng-if="participantActivity.showNotActiveInfo === true">
          <em translate="registration_not_yet_confirmed"></em>
          <button class="btn-link pull-right hidden-xs" ng-click="$ctrl.activateSubscription(participantActivity)" promise-btn>
            <strong class="text-color-success" translate="participant_subscription_activation_manual"></strong>
          </button>
        </div>
        <div class="col-xs-12" ng-if="participantActivity.showNotActiveInfo === true">
          <button class="btn-link pull-right hidden-sm hidden-md hidden-lg" ng-click="$ctrl.activateSubscription(participantActivity)" promise-btn>
            <strong class="text-color-success" translate="participant_subscription_activation_manual"></strong>
          </button>
        </div>
      </div>
      <a ng-if="$ctrl.participantActivities.hasMore" ng-click="$ctrl.findNextParticipantActivities()" class="btn btn-default btn-block margin-top">Zeige mehr...</a>
    </div>
    <div ng-show="!$ctrl.loading && !$ctrl.participantActivities.activities.length > 0">
      <em translate="no_registrations"></em>
    </div>
    <loading-spinner loading="$ctrl.loading"></loading-spinner>
  </div>
</div>
